html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

body {
  background-color: #333;
  height: 100vh;
  background-image: url('/wallpaper.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
}

button {
  cursor: pointer;
  vertical-align: top;
}

.title-bar {
  user-select: none;
}

.window-body {
  user-select: none;
}

.address-bar, input {
  user-select: text;
}

@media screen and (max-width: 600px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
} 